body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('http://getwallpapers.com/wallpaper/full/c/d/b/330535.jpg')center/cover no-repeat;
	color: white;
	font-family: 'Do Hyeon';
	text-transform: capitalize;
}

button {
	padding: 5px 25px;
	font-size: 2rem;
	background-color: darkcyan;
	border: none;
	border-radius: 2px;
	margin-right: 4px;
	outline: none;

}

button:hover {
	background-color: cyan;
}

#lowerBtn {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#addBtn {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.container {
	text-align: center;
	flex: 0 0 50%;
	padding: 2rem;
	border: 3px solid darkcyan;
	box-shadow: 1px 1px 10px 10px black;
}

.title {
	font-size: 3rem;
	margin-top: -20px;
}

.counter {
	font-size: 6rem;
}